<div ng-controller="importController">
		<div class="row">
		<fieldset>
			<legend>Importar Laudos</legend>
			<form>	
			  <div class="row">    
			    <div class="large-12 columns">
			      <div class="row collapse">
			        <div class="small-10 columns">
			          <input type="text" placeholder="Search">
			        </div>
			        <div class="small-2 columns">		        				        	
			          	<a href="" class="button postfix">SELECIONAR</a>		          			          	
			        </div>
			      </div>
			    </div>
			  </div>
			</form>
			<div class="progress success">
	  			<span class="meter" style="width:1%"></span>
			</div>		
		</fieldset>
	</div>

	<!--Import Reports-->
	<div class="row" >
		<fieldset>
			<legend>Laudos</legend>
			<div class="medium-12 colunms">			
				<table class="table">
					<thead>
						<tr>	
							<td>Número do Laudo</td>
							<td>Cliente</td>
							<td>Email Solicitante</td>
							<td>Email Secundário</td>
							<td>Importar</td>
							<td>Status</td>
						</tr>	
					</thead>
					<tr ng-repeat="report in reports">
						<td>{{report.numReport}}</td>
						<td>Warteruzannan</td>
						<td>warteruzannan@gmail.com</td>
						<td>warteruzannan@hotmail.com</td>
						<td><input type="checkbox"></td>
						<td>Erro</td>				
					</tr>
					
				</table>	
			</div>
			<div class="row">			
				<div class="medium-10 columns">
					<div class="progress success">
						<span class="meter" style="width:1%"></span>
					</div>
				</div>
				<div class="medium-2 columns">
					<button class="button postfix">IMPORTAR</button>
				</div>			
			</div>
		</fieldset>
	</div>
</div>
