<div class="container-fluid" ng-controller="FieldsController as vm">
	<div class="row">
		<div class="col-xs-offset-1">

			<h3>Fazendas</h3>

			<div class="col-xs-2">
				<div>
					<a class="btn btn-default" href="#fields/add" role="button">Nova
						área</a>
				</div>
			</div>

			<div class="col-xs-7">
				<div ng-repeat="farm in vm.farms">
					<h4>{{farm.name}}</h4>
					<div>
						<table class="table-hover table-striped">
							<tr ng-repeat="field in farm.fields">
								<td class="col-xs-1" ng-bind="field.name"></td>
								<td class="col-xs-1" ng-bind="field.size"></td>
								<td class="col-xs-1"><a href="#fields/add/{{field.id}}">Detalhes</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>