<nav class="top-bar" data-topbar>
	<ul class="title-area">
    	<li class="name">      
      		<h1><i class="fi-home"></i><a href="#">Laboratório Exata - Info SOIL Admin</a></h1>      		
    	</li>          	    	
  </ul>
</nav>
<div class="row spacing-top" >	
	<div class="large-12 colunms">
		<ul class="button-group even-3">
			<li><a href="#reports" class="button">LAUDOS</a></li>
			<li><a href="#importReports" class="button">IMPORTAR</a></li>
			<li><a href="#" class="button">SAIR</a></li>
		</ul>
	</div>
</div>
