<html>
<head>
<meta charset="UTF-8"></meta>
<title>SOIL Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
<script src="./js/angular/app.js"></script>
<script src="./js/angular/controllers.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css"></link>
<link rel="stylesheet" type="text/css" href="./css/style.css"></link>
</head>
<body ng-app="soilApp">
	<!--Header-->
	<section ng-include="'./views/html/header.html'"></section>

	<!--Main-->
	<section ng-view=""></section>
</body>

</html>
